# Your API keys and her username
config.toml
# Your Telegram login. Anyone with this file can use your account.
*.session
*.session-journal
state.json
state.tmp
# Your Google login
google-credentials.json
google-token.json

__pycache__/
.venv/
venv/
